
  <%- include("partials/header.ejs") %>

  <% if (locals.moneyConverted) { %>
    <p class="currency"> <%= locals.amount %> <%= currencyNames[locals.fromCurrency] %> 
  is equivalent to 
  <%= locals.moneyConverted %> <%= currencyNames[locals.toCurrency] %></p>
  <% } else { %>
    <p id="convertAmount">Enter the amount and select currencies to convert.</p>
  <% } %>

  <form action="/convert" method="POST" class="form-floating">
   <div class="form-floating mb-3">
  <input type="number" class="form-control" id="amount" name="amount" placeholder="Amount" value="<%= amount || '' %>" required>
  <label for="amount"></label>
</div>

    <label for="fromCurrency">From:</label> 
    <select id="fromCurrency" name="fromCurrency" required>
      <% currencyCodes.forEach(code => { %>
        <option value="<%= code %>" <%= fromCurrency === code ? 'selected' : '' %>>
          <%= code %> – <%= currencyNames[code] %>
          <br />
        </option> 
      <% }) %>
    </select><br />
<button type="button" id="swapButton">↕ </button>
    <label for="toCurrency">To:</label>
    <select id="toCurrency" name="toCurrency" required>
      <% currencyCodes.forEach(code => { %>
        <option value="<%= code %>" <%= toCurrency === code ? 'selected' : '' %>>
          <%= code %> – <%= currencyNames[code] %>
        </option>
      <% }) %>
    </select>
  
    <button type="submit">Convert</button>
  </form>
  <script>
  document.getElementById("swapButton").addEventListener("click", function () {
    const fromSelect = document.getElementById("fromCurrency");
    const toSelect = document.getElementById("toCurrency");

    const temp = fromSelect.value;
    fromSelect.value = toSelect.value;
    toSelect.value = temp;
  });
</script>
  
<%- include("partials/footer.ejs") %>


